## Reporting: wragle_report
* Create a **300-600 word written report** called "wrangle_report.pdf" or "wrangle_report.html" that briefly describes your wrangling efforts. This is to be framed as an internal document.

# 1. Gathering the Data :
In a Jupyter Notebook called wrangle act.ipynb, we used the following three pieces of data:
a. The "WeRateDogs" Twitter feed archive.
The file was manually downloaded.
Data/twitter archive enhanced.csv is the link.
b. Predictions for Tweet Image.
This file (image predictions.tsv) was downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad image -predictions/image-predictions.tsv
c. Using the tweet IDs from the WeRateDogs Twitter archive, use Python's Tweepy library to query the Twitter API for each tweet's JSON data, and save each tweet's entire set of JSON data in a file called tweet json.txt.

# 2. Assessing the Data :


a. The values ​​corresponding to the "tweet_id" column, which currently exist as "INT" values,
must be of the "String" data type.

b. Rows should be deleted if the value is not null to keep only the original
Tweets for column data matching: "in_reply_to_status_id",
"in_reply_to_user_id", "retweeted_status_id", "retweeted_status_user_id",
"retweeted_status_timestamp".

vs. The source contains leftover HTML code.

that is to say. Extended URLs are missing in some entries.

e. The Doggo, Floofer, Pupper and Puppo variables are present in the data as shown
primarily represent a single variable and must be a according to the order rule
part of the same column. f. We can see some 'None' objects present in "doggo", "floofer",
"pupper" and "puppo" to convert to "NaN".

g. 14 rows are in two categories
h. The 'None' object in "doggo", "floofer", "pupper" and "puppo" needs to be converted to
'NaN'. I. The "timestamp" is there as an object, where it should be converted to
take advantage of datetime.

j. The "name" column contains several stop words.

k. As seen above, the "name" column contains a total of 745 "None" strings
Present.

I. From above we can clearly see that there are a total of 639 double links
in the data for the "expanded_urls" column.
Mr. We can see that a total of 23 notes do not have the denominator value 10, i.e.
these many values ​​are not scored out of 10. not. So we can see that a total of 440 entries have a numerator value less than 10.

O. From the above result it is quite obvious that we are getting wrong or wrong data
according to counters, if it has a decimal value, for all counters
in the "rating_numerator" column.

# 3. Cleaning the Data

A. Suppressed rows with retweets and unnecessary columns
- This was done by suppressing rows of values ​​as non-null entities
keep only the original tweets for the following columns:
"in_reply_to_status_id", "in_reply_to_user_id", "retweeted_status_id",
"retweeted_status_user_id", "retweeted_statud_timestamp".

B. HTML leftovers have been suppressed in the source.

C. The "timestamp" data type has been replaced by datetime.
that is to say. The data type of "tweet_id" has been changed to "string".

E. Removed stop words in "Name". f. The values ​​in the "name" column have been converted to lowercase.

G. Change strings with value 'None' to 'NaN'.
- We saw that the "name" field had 745 strings of "None". - Data for "doggo", "floofer", "pupper" and "puppo" had "None"
Line.
H. Fix duplicate links and missing URLs by editing or generating URLs
- We found a total of 639 duplicate links in "expanded_urls".
- We had multiple entries with missing extended URLs.

I. Incompatible numerators and denominators have been fixed
- Inputs were validated while there was no discarding problem (irrational). - Input was changed when demolition error (including decimal) prevailed.

J. Dog phase
- Created a single variable.
- Corrected double phase when necessary.

# 4. Final Data And Report

The cleansed data is stored in '/home/workspace/twitter_archive_master.csv